# This is an example .env file for a Flask application.
# Remove the `.example` suffix to use it.

FLASK_ENV=development
SECRET_KEY=YOUR-SECRET-KEY-HERE
MONGO_URI=mongodb://localhost:27017/
JWT_SECRET_KEY=YOUR-JWT-SECRET-KEY-HERE
CORS_ORIGIN=http://localhost:3000